<div class="graph-modal">
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="submit">
    <button class="btn-reset graph-modal__close js-modal-close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <h3 class="graph-modal__title">
        Поздравляем!
      </h3>
      <p class="graph-modal__text">
        Вы успешно оформили заказ.
      </p>
    </div>
  </div>
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="subscribe">
    <button class="btn-reset graph-modal__close js-modal-close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <h3 class="graph-modal__title">
        Поздравляем!
      </h3>
      <p class="graph-modal__text">
        Вы подписались на наши новости.
      </p>
    </div>
  </div>
</div>
